.page-title{
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container{
  width: 400px;
  margin: auto;
}

.postformError{
  margin: 7px 0 15px 0;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background: #00b5ad;
}